$color-green-darkest: rgb(19, 109, 21);
$color-green-dark: rgb(17, 124, 19);
$color-green-medium: rgb(19, 133, 16);
$color-green-light: rgb(38, 139, 7);
$color-green-lightest: rgb(65, 152, 10);

$color-silver-light: #c1cfe1;
